// COLORS //
$color-black: #191919;
$color-mint-green: #c0e8dd;
$color-pink: #f6d9ea;
$color-lavendar: #d29fbb;
$color-lite-grey: #f3f3f3;
$color-lite-blue: #bddce3;

// FONTS //
$font-display: 'Nunito', sans-serif;
$font-serif: 'PT Serif', serif;

// GRID //
$grid-columns: 12 !default;
$grid-gutter-width: 10px !default;

// MAIN BODY ELEMENTS //
body {
    margin: 0;
    padding: 0;
    line-height: 1.6rem;
    color: $color-black;
    font-family: $font-serif;
    font-size: .8rem;
}

header {
    padding: 2rem 6rem;
    align-content: auto;
}

main.main-wrapper {
    margin: 0 6rem;
    align-content: auto;
}

li {
    margin: 0;
    padding: 0;
}

// NAV //
.navbar {
    align-items: baseline;
    line-height: 2rem;
    align-content: center;
    width: 100%;
}

a.nav-link {
    color: $color-black !important;
    font-family: $font-display;
    font-weight: 300;
    font-size: .7rem;
    padding: 0 .5rem;
}

nav a.nav-link.active {
    color: $color-pink !important;
    font-weight: 700;
}

nav a.nav-link#brand {
    font-family: $font-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -.025rem;
    text-align: center;
    padding-left: 8rem;
    padding-right: 8rem;
}


// HEADINGS //

h1 {
    font-family: $font-display;
    font-weight: 400; 
    font-size: 1.6rem;
    color: $color-black;
    letter-spacing: .05rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

h1.display-4 {
    font-family: $font-display;
    font-weight: 400; 
    font-size: 3rem;
    color: white;
}

h1.display-4 span {
    font-family: $font-serif;
    color: white;
    font-size: 3rem;
}

h2.section-heds {
    font-family: $font-display;
}

h3.product-details {
    font-family: $font-display;
    font-weight: 300; 
    color: $color-black;
    line-height: 1.6rem;
    letter-spacing: .2rem;
}

h3 span {
    font-family: $font-display;
    font-weight: 400; 
    color: $color-black;
}

h5 {
    font-family: $font-display;
    font-weight: 300;
    font-size: .8rem; 
    text-transform: uppercase;
}

h4.box {
    font-family: $font-display;
    font-weight: 400;
    font-size: .8rem; 
    text-transform: uppercase;
    text-align: center;
    width: 10rem;
    height: auto;
    padding: .5rem 1rem;
    border: 1px solid $color-black;
    position: absolute; 
    left: 45%;
    background-color: white;
    justify-content: center !important;
}

h6.kicker {
    font-family: $font-display;
    font-weight: 300;
    font-size: .8rem; 
    text-transform: uppercase;
    padding-bottom: 1rem;
}

// SECTION ELEMENTS //
section.section-wrapper-grey {
    background-color: $color-lite-grey;
    padding: 5rem 7rem 1rem 7rem;  
    text-align: center;
    align-content: center;
    justify-content: center;
}

section.section-wrapper-white {
    background-color: white;
    padding: 5rem 7rem;  
    text-align: center;
    line-height: 3rem;
    // align-content: center;
    justify-content: space-between;
}

hr.section-rule {
    border-color: $color-black;
    position: relative; 
    top: 2rem;
    width: 100%;
    justify-content: flex-start;
}

// BIO PAGE //
div.bio {
    margin: 4rem 10rem;
    justify-content: auto;
    width: 50%;
}

.bio img {
    border-radius: 50%;
    margin-bottom: 3rem;
}

// JUMBOTRON ELEMENTS //
.main-carousel {
    background-color: $color-lite-grey;
    z-index: 0;
}

div.jumbotron-textbox{
    width: 35%;
    position: absolute;
    top: 12rem;
    left: 8rem;
    line-height: 7rem;
    text-transform: uppercase;
    z-index: 10;
}

#jumbotron-btn {
    font-family: $font-display;
    background: white;
    color: $color-black;
    border-radius: 0;
    padding: .5rem 1.5rem;
    border: none;
}

#jumbotron-btn:hover{
    font-family: $font-display;
    background: $color-black;
    color:white; 
    border-radius: 0;
    padding: 1rem 1.5rem;
}

// PRODUCT CARD CONTAINER //
.container product-grid {
    justify-content: auto;
}

// PRODUCT CARD ROW //
div.row.cookies {
    padding-bottom: 2rem !important;
    // grid-column-gap: 1px;
}

div.col.product {
    display: flex;
    margin-bottom: 2rem;
    padding: 1rem 0rem;
    align-content: space-between;
    width: 320px;
    justify-content: center;
    height: auto;
}

// PRODUCT CARD ITEM //
img.card-img-top {
    border: none;
    border-radius: 0;
}

div.product-card {
    border: none;
    border-radius: 0;
    position: relative;
    margin-bottom: 1rem;
    align-self: auto;
}

div.card-body {
    line-height: .2rem;
}

div.quick-view-overlay p {
    position: absolute; 
    top: 17rem; 
    left: 0;
    background:white;
    background: rgba(255, 255, 255, 0.5); /* Black see-through */
    color: $color-black; 
    width: 100%;
    opacity:0;
    color: $color-black;
    font-size: .7rem;
    padding: 0rem 2rem;
    text-align: center;
    display: none;
    z-index: 5;
}

div.quick-view-overlay img {
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%;
    object-fit: contain;
    display: none;
    z-index: 0;
    width: 18rem; 
    height: 18rem
}

div.col:hover .quick-view-overlay p, 
div.col:hover .quick-view-overlay img {
    opacity: 1;
    display: block;
}


// FOOTER //
footer {
    padding: 4rem 6rem;
    font-size: .75rem;
}

div.footer-wrapper {
    background-color: $color-pink;
    list-style-type: none;
    margin-top: .3rem;
    padding: 5rem 7rem;
    line-height: 1.5rem;
}

ul.footer-item {
    background-color: $color-pink;
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    line-height: 1.5rem;
}

div.copyright-footer {
    margin-top: 3rem;
}